.DS_Store

._*

Icon

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

Thumbs.db

[Dd]esktop.ini

$RECYCLE.BIN/

*.lnk

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id
coverage/
migrate_working_dir/

app.*.symbols

app.*.map.json

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work.sum

.env